/* Styles pour la barre de navigation */
.navbar {
    background-color: #007bff; /* Couleur de fond de la barre de navigation */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff; /* Couleur du texte de la barre de navigation */
}

/* Styles pour les cartes de catégorie de produits */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body {
    padding: 20px;
}

/* Styles pour les boutons */
.btn {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
}

/* Styles pour la section de description de la page d'accueil */
.home-description {
    background-color: #f8f9fa; /* Couleur de fond de la section */
    padding: 50px 0;
    text-align: center;
}

.home-description h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.home-description p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}
